In [3]:
import pandas as pd
import glob
import os
import numpy as np
import json

## Defining Business Problem

In [74]:
# Open the folder of csv files and concatenate them into one dataframe
# TODO save concatenated dataframe as csv file
path = r'./data'
all_files = glob.glob(os.path.join(path, "*.csv"))
df_from_each_file = (pd.read_csv(f) for f in all_files)
pd.concat(df_from_each_file, ignore_index=True).to_csv('./data/merged.csv')

In [75]:
df['category'].map(json.loads).apply(pd.Series).add_prefix('category.')

,category.id,category.name,category.slug,category.position,category.parent_id,category.color,category.urls
0,266,Footwear,fashion/footwear,5,9.0,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18.0,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16.0,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11.0,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [29]:
# load json data from colums using json.loads
categories = df['category'].apply(json.loads)

df['category'] = [x['name'] for x in categories]

In [82]:
# load json data from colums using json.loads
location = df['location'].apply(json.dumps)

location = df['location'].apply(json.loads)

location

TypeError: the JSON object must be str, bytes or bytearray, not float

In [30]:
df = pd.read_csv('./data/merged.csv')

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,315,Babalus Shoes,Footwear,28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",USD,$,True,...,babalus-childrens-shoes,https://www.kickstarter.com/discover/categorie...,False,False,live,1548223375,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",28645.000000,international
1,47,A colorful Dia de los Muertos themed oracle de...,Playing Cards,1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",USD,$,True,...,the-ofrenda-oracle-deck,https://www.kickstarter.com/discover/categorie...,True,False,successful,1504976459,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",1950.000000,domestic
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",Rock,22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",USD,$,True,...,record-electras-debut-album-pop-rock-classical,https://www.kickstarter.com/discover/categorie...,True,False,successful,1371013395,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",22404.000000,international
3,3,The Mist of Tribunal is a turn-based card game...,Playing Cards,165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",GBP,Â£,False,...,the-mist-of-tribunal-a-card-game,https://www.kickstarter.com/discover/categorie...,False,False,failed,1489425776,1.216066,"{""web"":{""project"":""https://www.kickstarter.com...",165.384934,domestic
4,3,"Livng with a brain impairment, what its like t...",Nonfiction,2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",USD,$,True,...,help-change-the-face-of-brain-impairment,https://www.kickstarter.com/discover/categorie...,True,False,successful,1357763527,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",2820.000000,domestic

In [17]:
# TODO Drop undesired categories
# ? How to define success or failure
df['state'].value_counts()
# get percentage of successful projects
df['state'].value_counts(normalize=True)

state
successful    0.561437
failed        0.359422
canceled      0.041219
live          0.034944
suspended     0.002978
Name: proportion, dtype: float64

In [ ]:
features = ['category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged', 'usd_pledged_real', 'usd_goal_real']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             209222 non-null  int64
 1   blurb                     209214 non-null  object
 2   category                  209222 non-null  object
 3   converted_pledged_amount  209222 non-null  int64
 4   country                   209222 non-null  object
 5   created_at                209222 non-null  int64
 6   creator                   209222 non-null  object
 7   currency                  209222 non-null  object
 8   currency_symbol           209222 non-null  object
 9   currency_trailing_code    209222 non-null  bool
 10  current_currency          209222 non-null  object
 11  deadline                  209222 non-null  int64
 12  disable_communication     209222 non-null  bool
 13  friends                   300 non-null     object
 14  fx_rate                   209222 non-null  float64
 15  goal                      209222 non-null  float64
 16  id                        209222 non-null  int64
 17  is_backing                300 non-null     object
 18  is_starrable              209222 non-null  bool
 19  is_starred                300 non-null     object
 20  launched_at               209222 non-null  int64
 21  location                  208996 non-null  object
 22  name                      209222 non-null  object
 23  permissions               300 non-null     object
 24  photo                     209222 non-null  object
 25  pledged                   209222 non-null  float64
 26  profile                   209222 non-null  object
 27  slug                      209222 non-null  object
 28  source_url                209222 non-null  object
 29  spotlight                 209222 non-null  bool
 30  staff_pick                209222 non-null  bool
 31  state                     209222 non-null  object
 32  state_changed_at          209222 non-null  int64
 33  static_usd_rate           209222 non-null  float64
 34  urls                      209222 non-null  object
 35  usd_pledged               209222 non-null  float64
 36  usd_type                  208742 non-null  object
dtypes: bool(5), float64(5), int64(7), object(20)
memory usage: 52.1+ MB

In [69]:
df.iloc[:,0:15].head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,current_currency,deadline,disable_communication,friends,fx_rate
0,315,Babalus Shoes,Footwear,28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",USD,$,True,USD,1552539775,False,NaN,1.000000
1,47,A colorful Dia de los Muertos themed oracle de...,Playing Cards,1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",USD,$,True,USD,1504976459,False,NaN,1.000000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",Rock,22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",USD,$,True,USD,1371013395,False,NaN,1.000000
3,3,The Mist of Tribunal is a turn-based card game...,Playing Cards,165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",GBP,Â£,False,USD,1489425776,False,NaN,1.308394
4,3,"Livng with a brain impairment, what its like t...",Nonfiction,2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",USD,$,True,USD,1357763527,False,NaN,1.000000

In [71]:
df.iloc[:,15:25].head()

,goal,id,is_backing,is_starrable,is_starred,launched_at,location,name,permissions,photo
0,28000.0,2108505034,NaN,False,NaN,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,NaN,"{""key"":""assets/023/667/205/a565fde5382d6b53276..."
1,1000.0,928751314,NaN,False,NaN,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,NaN,"{""key"":""assets/017/766/989/dd9f18c773a8546d996..."
2,15000.0,928014092,NaN,False,NaN,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",NaN,"{""key"":""assets/011/433/681/489fd66f7861fefd8c8..."
3,10000.0,596091328,NaN,False,NaN,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,NaN,"{""key"":""assets/015/091/198/216fbf1bdc3739e7971..."
4,2800.0,998516049,NaN,False,NaN,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,NaN,"{""key"":""assets/011/457/844/37ba63d35fefaba76e9..."

In [72]:
df.iloc[:,25:36].head()

,pledged,profile,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged
0,28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",babalus-childrens-shoes,https://www.kickstarter.com/discover/categorie...,False,False,live,1548223375,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",28645.000000
1,1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",the-ofrenda-oracle-deck,https://www.kickstarter.com/discover/categorie...,True,False,successful,1504976459,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",1950.000000
2,22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",record-electras-debut-album-pop-rock-classical,https://www.kickstarter.com/discover/categorie...,True,False,successful,1371013395,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",22404.000000
3,136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",the-mist-of-tribunal-a-card-game,https://www.kickstarter.com/discover/categorie...,False,False,failed,1489425776,1.216066,"{""web"":{""project"":""https://www.kickstarter.com...",165.384934
4,2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",help-change-the-face-of-brain-impairment,https://www.kickstarter.com/discover/categorie...,True,False,successful,1357763527,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",2820.000000

In [76]:
df['location'].map(json.loads).apply(pd.Series).add_prefix('location.')

TypeError: the JSON object must be str, bytes or bytearray, not float